<div class="card">
    <div class="card-body">
        <form [formGroup]="formUser" (ngSubmit)="process( $event )" >

            <div class="mb-4">
                <label class="form-label">Insert an Email where you'll receive the <strong>FORM DATA</strong> (API TEST)</label>
                <input formControlName="toemail" name="toemail" type="email" class="form-control">
    
                <div class="alert alert-danger mt-2" [hidden]="toEmail.valid || toEmail.pristine">
                    <span *ngIf="toEmail.errors?.['required']">Write an valid email!</span>
                
                    <span *ngIf="toEmail.errors?.['email']">Field is required!</span>
                </div>
            </div>
            <hr>

            <div class="mb-2">
                <label class="form-label">Name</label>
                <input formControlName="name" name="name" type="text" class="form-control">
    
                <div class="alert alert-danger mt-2" [hidden]="name.valid || name.pristine">
                    Field is required
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">Last</label>
                <input formControlName="last" name="last" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input formControlName="email" name="email" type="email" class="form-control">
    
                <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                    <span *ngIf="email.errors?.['required']">Write an valid email</span>
                
                    <span *ngIf="email.errors?.['email']">Field is required</span>
                </div>
            </div>
    
            <div class="mb-2">
                <label class="form-label">Phone</label>
                <input formControlName="phone" name="phone" type="tel" class="form-control">
            </div>
    
            
            <div class="mb-2">
                <label class="form-label">Area</label>
                <select formControlName="area" id="" name="area" class="form-select">
                    <option value="">-- Select an option</option>
                    <option value="Managment department">Managment department</option>
                    <option value="Marketing department">Managment department</option>
                    <option value="RRHH department">Human Resources department</option>
                </select>
            </div>
            
            <div class="mb-2">
                <label class="form-label">Message</label><br>
                <textarea class="form-control" formControlName="msg" id="msg" name="msg" cols="30" rows="10"></textarea>
            </div>
    
            <div class="d-flex justify-content-center mb-2">
                <button type="submit" class="btn btn-primary mb-3">Send</button>
            </div>
        </form>
    </div>
</div>
