<main class="container-fluid">

    <section class="row">
        <aside class="col-5 d-flex flex-column justify-content-center align-items-center contact-form">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-4">Contact Form</h2>
                    <p>Contact with us!</p>
                    
                </div>
            </div>
        </aside>
        <section class="col-7 p-5">
            
            <app-form></app-form>
    
        </section>
    </section>
</main>

<router-outlet></router-outlet>
